/* Universal */

* {
    margin: 0;
    box-sizing: border-box;
    overflow-x: clip;
}

html {
    font-size: 16px
}

body {
    background-color: #0D0A20;
    color: #E6EDF3;
    font-family: Mulish, sans-serif;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Poppins, Mulish, sans-serif;
}

h1 {
    font-size: 10rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    color: #E6EDF3;
    display: inline-block;
}

input, textarea {
    all: unset;
}

button {
    cursor: pointer;
}

.lname-decoration {
    color: #5C51D6;
}

/* Header */

header {
    display: flex;
    position: fixed;
    top: 0;
    height: 4.1rem;
    border-bottom: solid 1px rgb(197, 197, 197);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(13, 13, 13, 0.1);
    backdrop-filter: blur(4px);
}

header h2 {
    margin-left: 8%;
    letter-spacing: 0.1rem;
    width:100%;
}

header h2 a {
    width: 100%;
}

header nav {
    height: 70%;
    display: flex;
    margin-right: 8%;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin: auto 0;
}

header nav li {
    margin: auto 0rem;
    height: 100%;
    padding-left: 1.4rem;
}

header nav a {
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    color: #E6EDF3;
    text-decoration: none;
    margin: auto 0
}

header nav a:hover {
    color: rgb(106, 84, 255);
}

header button {
    margin-right: 0;
}

/* Banner Background */

.banner-background {
    height: 54rem;
    background: linear-gradient(190deg, #000000, #3e1fc5);
    rotate: 354deg;
    width: 130%;
    position: absolute;
    top:-14rem;
    left: -6rem;
    z-index: -1;
}

/* Main Content */

main {
    margin-top: 4.1rem;
    margin: 0 auto;
}

.banner {
    height: 49rem;
    display: grid;
    grid-template: 25rem 14rem / 1fr 1fr;
    margin: 4.1rem auto 0;
    align-items: end;
    max-width: 101.25rem;
}




.banner h1 {
    margin: 0;
    font-size: 10rem;
    font-weight: bold;
    line-height: 9rem;
    letter-spacing: 0.3rem;
}

.banner p {
    margin-bottom: 7rem;
    margin-left: 1.5rem;
    text-align: right;
    font-weight: 800;
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, 0.1) 5px 5px 0px;
    
}

.banner button {
    width: 10rem;
    height: 3rem;
    border-radius: 2rem;
    font-family: Mulish, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #FFFFFF;
    padding: 0 1rem;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1.5px #FFFFFF;
    transition-property: background-color border-color;
    transition-duration: 0.3s;
    align-self: start;
    margin-top: 3rem;
}

.banner button:hover {
    background-color: rgba(91, 66, 245, 0.93);
    border: solid 1.5px rgba(91, 66, 245, 0.93);
}

.banner button:active {
    background-color: rgba(75, 55, 206, 0.93);
    border: solid 1.5px rgba(75, 55, 206, 0.93);
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px;
}

/* About Section */

.about {
    max-width: 101.25rem;
    margin: auto;
}

.about-info p {
    margin-top: 2rem;
    font-size: 1.25rem;
    width: 50%;
}

.languages {
    margin-top: 4rem;
}

.languages-container {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.languages-container h4 {
    text-align: center;
    margin: auto 5rem auto 0;
    height: 3rem;
    line-height: 3rem;
    color: #E6EDF3;
    /* background-color: #5B42F5; */
    background-color: rgba (0, 0, 0, 0);
    border: 2px solid #5B42F5;
    border-radius: 1.5rem;
    padding: 0 1.5rem;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.languages-container h4:hover {
    background-color: #E6EDF3;
    color: #5B42F5;
}

/* Projects */

.projects {
    margin: 10rem auto 0;
    max-width: 101.25rem;
}

.projects-container {
    margin-top: 2rem;
    display:flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.project img {
    aspect-ratio: 16 / 9;
    height: 15rem;
    border: #5B42F5 solid 4px;
    border-radius: 0.5rem;
}

.project p {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.25rem;
    text-align: center;
    margin-top: -1.2rem;
    padding: 0 1rem;
    border: #5B42F5 solid 1px;
    border-radius: 1rem;
    background-color: #5B42F5;
    z-index: 1;
}

/* Footer */

footer {
    margin: 6rem auto 0;
    width: 100%;
}

.footer-box {
    margin: 0 auto;
    max-width: 101.25rem
}

.contact-me {
    background-color: rgba(91, 66, 245, 0.4);
    backdrop-filter: blur(4px);
    border-radius: 1rem;
    padding: 1.5rem 2.5rem;
    width: 27rem;
    float: right;
    text-align: center;
    /* margin-right: 8%; */
}

.contact-me form {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 29rem;
    justify-content: space-evenly;
}

.contact-me .form-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-me label {
    /* margin-top: 0.75rem; */
    font-weight: 600;
    font-family: Poppins, Arial, sans-serif;
    font-size: 0.9rem;
}

.contact-me input {
    height: 1rem;
    border-radius: 0.4rem;
    border: #5C51D6 solid 1.4px;
    background-color: rgba(0, 0, 0, 0);
    color: #E6EDF3;
    padding: 0.5rem 0.7rem
}

.contact-me input:focus {
    border: #5C51D6 solid 1.4px;
}

.contact-me textarea {
    height: 10rem;
    border-radius: 0.4rem;
    border: #5C51D6 solid 1.4px;
    background-color: rgba(0, 0, 0, 0);
    /* margin-bottom: 0.75rem; */
    padding: 0.5rem 0.7rem
}

.contact-me #send-button {
    margin-top: 1rem;
    background-color: #5C51D6;
    height: 1.8rem;
    font-family: Quicksand, Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    border-radius: 0.7rem;
}

.contact-me #send-button:hover {
    /* background-color: #5B42F5;
    border-color: #5B42F5; */
    background-color: rgba(91, 66, 245, 0.93);
    border: solid 1.5px rgba(91, 66, 245, 0.93);
}

.contact-me #send-button:active {
    background-color: rgba(75, 55, 206, 0.93);
    border: solid 1.5px rgba(75, 55, 206, 0.93);
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px;
}

.footer-links {
    clear: both;
}

.footer-links a {
    display: block;
    margin:  2rem auto 0;
    height: 3rem;
    width: 3rem;
}

.footer-links img {
    display: block;
    margin: 2rem auto 0;
    height: 3rem;
    width: 3rem;
    position: static;
}

footer .icon {
    display: inline-block;
    margin: auto;
}

.footer-background {
    height: 27rem;
    background: linear-gradient( 182deg, #0D0A20 11ch,  #3e1fc5 11ch);
    width: 100%;
    position: absolute;
    bottom: -3rem;
    z-index: -1;
}
