.center {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 18% auto auto auto auto;
  margin: auto;
  margin-top: 10px;
  width: 100%;
  height: 1830px;
  background-color:rgba(186,186,186, 0.9);
}

.center__technology {
  grid-column: 1 / 13;
  grid-row: 1 / 2;
  text-align: center;
  width: 100%;
  padding: 0 10px;
}

.center__technology h2 {
  text-shadow: #1a1a1a 1px 0 5px;
  padding: 10px 0;
}

.center details,
.center h3 {
  text-align: left;
}

.center details p {
  position: relative;
} 

.center details p:before {
  content:" ";
  height: 1px;
  width: 100%;
  background: #1a1a1a;
  display: block;
  position: absolute;
  top: -5px;
}

.center__multimedia {
  grid-column: 2 / 12;
  grid-row: 2 / 3;
  text-align: center;
  max-width: 290px;
  margin: auto;
}

.center__pool {
  text-align: center;
  grid-column: 2 / 12;
  grid-row: 3 / 4;
  max-width: 290px;
  margin: auto;
}

.center__cafe {
  text-align: center;
  grid-column: 2 / 12;
  grid-row: 4 / 5;
  max-width: 290px;
  margin: auto;
}

.center__weights {
  text-align: center;
  grid-column: 2 / 12;
  grid-row: 5 / 6;
  max-width: 290px;
  margin: auto;
}

.center__pool video {
  height: 142px;
  border-radius: 20px;
}

.center img {
  text-align: center;
  align-content:center;
  width: 250px;
  height: 142px;
  border-radius: 20px;
}

.center__pool p,
.center__multimedia p {
  width: 100%;
}

.center summary {
  font-family: "Satisfy", cursive;
  font-size: 20px;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}

.center__pool svg {
  position: absolute;
  top: 2px;
  left: 108px;
  max-width:50px;
	max-height:50px;
}

.center__cafe svg {
  position: absolute;
  top: 2px;
  left: 160px;
  max-width:50px;
	max-height:50px;
}

.center summary:hover svg {
  animation-name: jumpingicon;
  animation-iteration-count: infinite;
  animation-duration: 0.45s;
}

.center__multimedia svg {
  position: absolute;
  top: 2px;
  left: 140px;
  max-width:50px;
	max-height:50px;
}

.center__weights svg {
  position: absolute;
  top: 2px;
  left: 90px;
  max-width:50px;
	max-height:50px;
}

@media screen and (min-width: 475px) and (max-width: 768px) {
  .center {
    grid-template-rows: 12% auto auto auto auto;
    height: 1920px;
  }

  .center__multimedia,
  .center__pool,
  .center__cafe,
  .center__weights {
    grid-column: 1 / 13;
    max-width: 380px;
  }

  .center img {
    width: 380px;
    height: 254px;
  }

  .center__pool video {
    height: 215px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .center {
    grid-template-rows: 20% auto auto;
    height: 1050px;
  }

  .center__multimedia {
    grid-column: 2 / 7;
    grid-row: 2 / 3;
    text-align: left;
    max-width: 300px;
    height: 445px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .center__pool {
    grid-column: 7 / 12;
    grid-row: 2 / 3;
    text-align: left;
    max-width: 300px;
    height: 445px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .center__cafe {
    grid-column: 2 / 7;
    grid-row: 3 / 4;
    text-align: left;
    height: 370px;
    max-width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .center__weights {
    grid-column: 7 / 12;
    grid-row: 3 / 4;
    text-align: left;
    max-width: 300px;
    height: 370px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .center__pool video {
    height: 170px;
    margin-bottom: 40px;
  }

  .center img {
    width: 300px;
    height: 170px;
  }

  .center h3 {
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1223px) {
  .center {
    grid-template-rows: 15% auto auto;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    height: 1100px;
    background-color:rgba(186,186,186, 0.9);
  }

  .center__technology {
    grid-column: 1 / 13;
    width: 1000px;
    margin: auto;
  }

  .center__multimedia {
    grid-column: 2 / 7;
    grid-row: 2 / 3;
    text-align: left;
    max-width: 400px;
    height: 490px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .center__pool {
    grid-column: 7 / 12;
    grid-row: 2 / 3;
    text-align: left;
    max-width: 400px;
    height: 490px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .center__cafe {
    grid-column: 2 / 7;
    grid-row: 3 / 4;
    text-align: left;
    height: 440px;
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .center__weights {
    grid-column: 7 / 12;
    grid-row: 3 / 4;
    text-align: left;
    max-width: 400px;
    height: 440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .center__pool video {
    height: 225px;
  }

  .center img {
    width: 400px;
    height: 225px;
  }

  .center__pool p,
  .center__multimedia p {
    width: 400px;
  }
}

@media screen and (min-width: 1224px) {
  .center {
    grid-template-rows: 15% auto auto;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    height: 1200px;
    background-color:rgba(186,186,186, 0.9);
  }

  .center__technology {
    grid-column: 1 / 13;
    margin: auto;
    width: 1000px;
  }

  .center__multimedia {
    grid-column: 2 / 7;
    grid-row: 2 / 3;
    text-align: left;
    max-width: 470px;
    height: 535px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .center__pool {
    grid-column: 7 / 12;
    grid-row: 2 / 3;
    text-align: left;
    max-width: 470px;
    height: 535px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .center__cafe {
    grid-column: 2 / 7;
    grid-row: 3 / 4;
    text-align: left;
    height: 470px;
    max-width: 470px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .center__weights {
    grid-column: 7 / 12;
    grid-row: 3 / 4;
    text-align: left;
    max-width: 470px;
    height: 470px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .center__pool video {
    height: 260px;
  }

  .center img {
    width: 460px;
    height: 260px;
  }

  .center__pool p,
  .center__multimedia p {
    width: 400px;
  }
}

@keyframes jumpingicon {
  0% {top: 0;}
  70% {top: -10px;}
  100% {top: 0;}
}
